@font-face {
  font-family: "Agustina Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Agustina Regular"),
    url("./assets/fonts/Agustina.woff") format("woff");
}

.container{
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  position: absolute;
  background: rgb(68, 105, 247);
  background: linear-gradient(
    238deg,
    rgba(68, 105, 247, 1) 0%,
    rgba(246, 91, 245, 1) 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  color: white;
}

.innerContainer{
  top: 5%;
  left: 5%;
  position: absolute;
  width: 90%;
  height: 90%;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 20px;
}

.dots {
  height: 17px;
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5em;
}

.dot1,
.dot2,
.dot3 {
  height: 100%;
  width: 17px;
  border-radius: 50%;
  margin: 0 7px 0 0;
}

.dot1 {
  background-color: #ff605c;
}

.dot2 {
  background-color: #ffbd44;
}

.dot3 {
  background-color: #00ca4e;
}

.lottiePlayer{
  display: flex;
  justify-content: flex-end;
  padding-top: 10vh;
  width: 50vw;
  height: 50vh;
}

.innerContents{
  display: flex;
}
.appContents{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10vw;
  margin-top: 10vh;
  font-size: 20px;
}
.heading{
  font-size: 30px;
  font-family: Agustina Regular;
  position: absolute;
  top : 0;
  left: 10px;
}
.appHeading{
 font-size: 60px;
}
.button{
  background: rgba(0, 0, 0, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(6px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    color: white;
    padding: 10px;
    width: max-content;
    cursor: pointer;
    font-size: 20px;
}
.button:hover {
  background: rgba(0, 0, 0, 0.6);
}
.creditsSection{
  display: flex;
 flex-direction: column;
 margin-bottom: auto;
 margin-left: auto;
 position: absolute;
 bottom: 10px;
 width: 100%;
 text-align: center;
}