@font-face {
    font-family: "Agustina Regular";
    font-style: normal;
    font-weight: normal;
    src: local("Agustina Regular"),
      url("../../app/assets/fonts/Agustina.woff") format("woff");
  }

.heading{
    transform: translateY(2vh)scaleY(1.5);
    font-family: Agustina Regular;
    position: absolute;
    top : 0;
    left: 10px;
    font-weight: 600;
  }


